.follower-cube {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: lightblue;
}

.acceleration_chart-colour {
    background-color: lightblue;
}

#time-line
{
    background: lightblue;
    width: 3px;
    position: absolute;
    left: 107px;
}